<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Inscription{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="app.css">
</head>

<body>
<header>
    <div class="navbar">
        <div>Carpool</div>
        <nav>
            <a href="{{ path('app_login') }}">Connexion</a>
            <a href="{{ path('app_register') }}">Inscription</a>
            <a href="{{ path('app_profilemanagement') }}">Profil</a>
        </nav>
    </div>
</header>

<main>
    {% block body %}{% endblock %}
</main>

<footer>
    <p>Contactez-nous | Politique de confidentialité | Conditions d'utilisation</p>
</footer>
</body>
</html>
